html, body {
    width: 100%;
    height: 100%;
    background-color: #ECF4EC;
    color: #006633;
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4 {
    font-family: 'Acme', sans-serif;
    color: #008866;
}

a {
    color: #009933;
}

a:hover {
    color: #009933;
}

.btn {
    background-color: #008866;
    border-color: #008866;
    color: white;
}

.btn:hover {
    background-color: #007666;
    border-color: #007666;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.imgUrl {
    margin: auto;
}

.header-wrapper {
    border-bottom: 2px solid #D4ECDC;
    margin-bottom: 20px;
    background-color: #ECF4EC;
}

.site-name {
    font-family: 'Acme', sans-serif;
    color: #008866;
    font-size: 40px;
    padding: 10px;
    display: inline-block;
}

.site-name:hover {
    color: #008866;
    text-decoration: none;
}

.header-link {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    padding: 15px;
    display: inline-block;
}

.dropdown {
    width: 100%;
}

.display-wrapper {
    padding-top: 1.5rem;
}

.tile-img {
    height: 100px;
    width: 100px;
    margin-top: .5rem;
}

.tile-name {
    text-align: center;
}

.tile-btn {
    position: absolute;
    bottom: 0;
}

.display-tile {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
}

.thead {
    font-weight: bold;
}

.table-wrapper {
    padding-top: .25rem;
    padding-bottom: 2.5rem;
}

.detail-img {
    height: 16rem;
    width: 16rem;
}

.detail-col {
    padding-bottom: 2.5rem;
}