<!DOCTYPE html>
<head>
  <title>NookCookBook</title>

  <!-- React dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

  <!-- page script js -->
  <script src="/static/js/search.jsx" type="text/jsx"></script>
  <script src="/static/js/header.jsx" type="text/jsx"></script>
  <script src="/static/js/display.jsx" type="text/jsx"></script>
  <script src="/static/js/recipe.jsx" type="text/jsx"></script>
  <script src="/static/js/app.jsx" type="text/jsx"></script>
</head>
<body>
  <div id="root"></div>
</body>